<?xml version="1.0" encoding="UTF-8"?>
<restaurants>
   <address_city>Cambridge</address_city>
   <address_cross>Btwn Mellen &amp; Everett St</address_cross>
   <address_state>MA</address_state>
   <address_street>1613 Massachusetts Ave</address_street>
   <address_zip>02139</address_zip>
   <phone_number>617 491-2884</phone_number>
   <phone_number2>617 491-2889</phone_number2>
   <restaurant>Three Aces</restaurant>
   <restaurant_menu>
      <sections>
         <section>
            <category>pizzas</category>
            <items>
               <element>
                  <name>Tomato &amp; Cheese</name>
                  <price>
                     <element>
                        <sm>5.5</sm>
                     </element>
                     <element>
                        <lg>9.75</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <name>Onions</name>
                  <price>
                     <element>
                        <sm>6.85</sm>
                     </element>
                     <element>
                        <lg>10.85</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <name>Peppers</name>
                  <price>
                     <element>
                        <sm>6.85</sm>
                     </element>
                     <element>
                        <lg>10.85</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <name>Broccoli</name>
                  <price>
                     <element>
                        <sm>6.85</sm>
                     </element>
                     <element>
                        <lg>10.85</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <name>Fresh Garlic</name>
                  <price>
                     <element>
                        <sm>6.85</sm>
                     </element>
                     <element>
                        <lg>10.85</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <name>Mushrooms</name>
                  <price>
                     <element>
                        <sm>6.85</sm>
                     </element>
                     <element>
                        <lg>10.85</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <name>Fresh Spinach</name>
                  <price>
                     <element>
                        <sm>6.85</sm>
                     </element>
                     <element>
                        <lg>10.85</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <name>Anchovies</name>
                  <price>
                     <element>
                        <sm>6.85</sm>
                     </element>
                     <element>
                        <lg>10.85</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <name>Hamburg</name>
                  <price>
                     <element>
                        <sm>6.85</sm>
                     </element>
                     <element>
                        <lg>10.85</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <name>Pepperoni</name>
                  <price>
                     <element>
                        <sm>6.85</sm>
                     </element>
                     <element>
                        <lg>10.85</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <name>Sausage</name>
                  <price>
                     <element>
                        <sm>7.95</sm>
                     </element>
                     <element>
                        <lg>11.8</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <name>2-way Combo</name>
                  <price>
                     <element>
                        <sm>8.9</sm>
                     </element>
                     <element>
                        <lg>12.8</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <name>Extra Cheese</name>
                  <price>
                     <element>
                        <sm>1.25</sm>
                     </element>
                     <element>
                        <lg>1.85</lg>
                     </element>
                  </price>
               </element>
            </items>
            <name>pizzas</name>
            <sizes>
               <element>small</element>
               <element>large</element>
            </sizes>
         </section>
         <section>
            <category>specialty pizzas</category>
            <items>
               <element>
                  <description>Sliced Tomatoes, Olives, Spinach, Fresh Garlic, Mozzarella &amp; Feta Cheese</description>
                  <name>Three Aces Special</name>
                  <price>
                     <element>
                        <sm>9.8</sm>
                     </element>
                     <element>
                        <lg>15.8</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <description>Sliced Tomatoes, Onion, Peppers, Mushrooms, Broccoli, Mozzarella</description>
                  <name>Mediterranian</name>
                  <price>
                     <element>
                        <sm>9.8</sm>
                     </element>
                     <element>
                        <lg>15.8</lg>
                     </element>
                  </price>
               </element>
               <element>
                  <description>Choice Of Vegetables</description>
                  <name>Vegetarian</name>
                  <price>
                     <element>
                        <sm>9.8</sm>
                     </element>
                     <element>
                        <lg>15.8</lg>
                     </element>
                  </price>
               </element>
            </items>
            <name>specialty pizzas</name>
            <sizes>
               <element>small</element>
               <element>large</element>
            </sizes>
         </section>
      </sections>
   </restaurant_menu>
</restaurants>